@using FirstMvcProject.Models.Entities
@model Product
<h2> Product Details</h2>

<dl class="row">
    <dt class="col-sm-2">Name</dt>
    <dd class="col-sm-10">@Model.Name</dd>

    <dt class="col-sm-2">Price</dt>
    <dd class="col-sm-10">@Model.Price</dd>

    <dt class="col-sm-2">Description</dt>
    <dd class="col-sm-10">@Model.Description</dd>

    <dt class="col-sm-2">Stock</dt>
    <dd class="col-sm-10">@Model.Stock</dd>
</dl>

<p>
    <a asp-action="GetAllProducts" asp-controller="Products" class="btn btn-secondary">Back to products</a>
</p>